body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e2edc5;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: bisque;
    margin:0;
    padding:0;
}

.grid-container {
    display:grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";

    grid-template-columns: 1fr;
    
    gap: 0;
    padding: 0;
    margin: 0;
}

.main p{
    padding: 0px 50px;
    }

.nav {
    grid-area: nav;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin:0;
 } 
 
 .menu li {
    padding: 5px;
    margin:0;
    background-color: rgba(236, 215, 151, 0.214);
 }
 
 .menu a {
     text-decoration: none;
     color: #333;
     font-size: 17px;
     padding: 10px 15px;
     display: block;
 }
 
 .menu a:hover {
     background-color: #f5f5f5;
 }
 

.footer {
    grid-area: footer;
    text-align: center;
    padding: 6px 0 ;
    margin:0;
    background-color: rgba(139, 247, 151, 0.505);
}

#game-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #333;
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s ease;
}

.card.flip {
    background-color: #4CAF50;
    color: #fff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .menu {
        margin:0;
        padding:0;
        display:flex;
    }
    .menu li {
        display: inline-block;
        width:auto;
        flex: 1;
    }
    .menu a {
        width:100%;
    }
}