body {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.grid-container {
  display:grid;
  grid-template-areas:
    "userplace"
    "blank1"
    "phoneplace"
    "blank2"
    "emailplace"
    "blank3"
    "passplace"
    "blank4"
    "submitplace";
    gap:10px;
}

.userplace {
  grid-area: userplace;
}

.phoneplace {
  grid-area: phoneplace;  
}

.emailplace {
  grid-area: emailplace;
}

.passplace {
  grid-area:passplace;
}

.submitplace {
  grid-area:submitplace;
}

.blank1 {
  grid-area:blank1;  
}

.blank2 {
  grid-area:blank2;
}

.blank3 {
  grid-area:blank3;
}

.blank4 {
  grid-area:blank4;
}

.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "userplace blank1"
      "phoneplace blank2"
      "emailplace blank3"
      "passplace blank4"
      "submitplace";
  
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-areas:
      "userplace blank1 blank1"
      "phoneplace blank2 blank2"
      "emailplace blank3 blank3"
      "passplace blank4 blank4"
      "submitplace submitplace submitplace";
  
  }
}