.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}

/* 1 width
  2 height
  name item1
  input item 2
  use grid
  make sure the form is the grid container */